{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/glyph.css' %}">
</head>
<body>
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script>$('.toast').toast('show')</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

$(document).ready(function() {

var token = '{{csrf_token}}';
    $('.like').on('click', function() {

        var post_id = $(this).attr('post_id');
        var glyph = $('span[name="love_'+post_id+'"]');
        var token = '{{csrf_token}}';
        req = $.ajax({
            headers: { "X-CSRFToken": token },
            url : '/post/like/',
            type : 'POST',
            data : { id : post_id, },
        });


        req.done(function(data) {
            $('#post_id'+post_id).fadeOut(500);
            glyph.fadeOut(500);
            setTimeout(function(){
                $('#post_id'+post_id).text(data.post_like);
                glyph.attr('style','color: #FCA311');
            }, 500);
            $('#post_id'+post_id).fadeIn(500);
            glyph.fadeIn(500);

        });
    });

});



</script>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <div class="col-md-12 col-lg">
            <div class="row">
                <div class="col-md-11 col-sm-10" style="display:block;">
                    <a style="color:#FCA311" class="navbar-brand" href="/home">ClimbTogheter {{user.username}}</a>
                </div>
                <div class="col-md-1 col-sm-2">
                    <button style="right:0px;" class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavAltMarkup"
                            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </div>
        <div id="right">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav col-lg-4 col-md-12">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="/home">Home</a>
                    <a class="nav-item nav-link {% if request.resolver_match.url_name == 'friends' %}active{% endif %}" href="/friends">Friends</a>
                    <!--<a class="nav-item nav-link {% if request.resolver_match.url_name == 'history' %}active{% endif %}" href="#">History</a>-->
                    <a class="nav-item nav-link {% if request.resolver_match.url_name == 'account_details' %}active{% endif %}" href="/account/details/{{request.user.id}}">Account</a>
                    <a class="nav-item nav-link" href="/logout/">Logout</a>
                    {%else%}
                    <a class="nav-item nav-link" href="/register">Register</a>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- messages -->
<div>
{% if messages %}
{% for message in messages %}
<div aria-live="polite" aria-atomic="true" >
    <!-- Position it -->
    <div style="position: fixed; top: 100px; right: 50px; z-index:1; ">

        <!-- Then put toasts within -->
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2500"
             style="border-radius:30px;">
            <div class="toast-header">
                <strong class="mr-auto">{{message}}</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<script>$('.toast').toast('show')</script>
{% endfor %}
{% endif %}
</div>

<div class="container" style="margin-top:70px;">
    {% block content %}
    {% endblock %}
</div>

<!-- footer -->
<footer>
    <div class="d-flex justify-content-center">
        <h5>&copy Przemyslaw Wrona</h5>
    </div>
</footer>


<script>
const realFileBtn = document.getElementById("real-file");
const customBtn = document.getElementById("custom-button");
const customTxt = document.getElementById("custom-text");

customBtn.addEventListener("click", function() {
  realFileBtn.click();
});

realFileBtn.addEventListener("change", function() {
  if (realFileBtn.value) {
    customTxt.innerHTML = realFileBtn.value.match(
      /[\/\\]([\w\d\s\.\-\(\)]+)$/
    )[1];
  } else {
    customTxt.innerHTML = "No file chosen, yet.";
  }
});


function countChar(val) {
            var len = val.value.length;
            if (len >= 501) {
                val.value = val.value.substring(0, 500);
            } else {
                $('#charNum').text(len);
            }
        };



</script>
</body>