{% extends 'base.html' %}
{% block content %}
{%load static%}
<div class=" no-gutters row">
    <!-- Searching new friends -->
    <div class="col-lg col-md-12" id="content">
        <div class="">
            <div class="justify-content-center d-flex">
                <h4>
                    Find new friends
                </h4>
            </div>
            <div class="justify-content-center d-flex">
                <form method="post">
                    {%csrf_token%}
                    <input type="text" name="username" id="username" minlength="3" placeholder="Write username"
                           required>
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>

        {% for search in search_list%}
        <div class="row d-flex justify-content-between container" id="small_content" style="border-radius:25px">
            <div class="row">
                <img src="{%static 'pictures/pic (1).jpg' %}" style="height:25px; width:25px; border-radius:25px;">
                <p class="pl-2">
                    {{search.username}}

                    {%if search.profile.name%}
                    {{search.profile.name}}
                    {%endif%}
                </p>
            </div>
            <div>
                <a style="height:40px" href="/friends/observe/{{search.id}}">
                    <button style="height:40px;">Observe</button>
                </a>
            </div>
        </div>
        {%empty%}
        {%endfor%}

    </div>


    <!-- Searching in your friends -->
    <div class="col-lg col-md-12" id="content">
        <div class="row no-gutters justify-content-center d-flex">
            <div class="">
                <h4>
                    Your friend list
                </h4>
            </div>
        </div>
        <div>
            <hr>
            {% for friend in friend_list %}
            <div class="row no-gutters">
                <div class="col-lg">
                    <img src="{%static 'pictures/pic (1).jpg' %}" style="height:25px; width:25px; border-radius:25px;">
                   <a href="/account/details/{{friend.follow_to.id}}">
                       {{friend.follow_to.username}}
                   </a>

                    {{friend.user.username}}
                </div>

                <a href="/friends/delete/{{friend.id}}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            <hr>
            {% empty %}
            <h5>Don't have friend yet.</h5>
            {% endfor %}
        </div>

    </div>


</div>


{% endblock %}
php