{% extends 'base.html' %}
{% block content %}
{% csrf_token %}
{%load static%}

<div >


    <!--Add Post here -->
    <div class="row no-gutters">
        <div id="content" class="col-lg col-md-12">
            <form method="post" id="addPost">
                {% csrf_token %}
                <h5>Add post</h5>
                <div class="" style="margin-bottom:10px">
                    <textarea rows="10" maxlength="501" name="content" onkeyup="countChar(this)"
                              placeholder="Write here what do you want to share..."></textarea>
                    <div class="d-flex justify-content-end"><span id="charNum">0</span>/500</div>
                </div>
                <!--
                <input type="file" id="real-file" hidden="true"/>
                <button type="button" id="custom-button"><span class="glyphicon glyphicon-open"> </span>CHOOSE A FILE
                </button>
                <span id="custom-text">No file chosen, yet.</span>
                 -->
                <div class="d-flex justify-content-between no-gutters">
                    <div class="p-2 bd-highlight">
                        <p>TODO select</p>
                    </div>

                    <div class="p-2 bd-highlight">
                        <button type="submit" class="button" style="font-weight:bold" name="addPost"> Add Post</button>
                    </div>
                </div>


            </form>
        </div>
        <!--
                <div id="content" class="col-lg col-md-12">
                    <form method="post" id="addRoute">
                        {% csrf_token %}
                        <h5>Add ascend route</h5>
                        <div class="d-flex justify-content-center" style="margin-bottom:10px">
                            <input id="username" type="text" name="username" placeholder="username">
                        </div>
                        <div class="d-flex justify-content-center" style="margin-bottom:10px">
                            <input id="password" type="password" name="password" placeholder="password">
                        </div>
                        <div class=" d-flex justify-content-center">
                            <button type="submit" style="font-weight:bold" name="addRoute">Add Route</button>
                        </div>
                    </form>
                </div>
                -->
    </div>

    <!--Show posts here -->
    <div class="container">
        <h3> New Posts</h3>
        <div class="row no-gutters">
            {% for post in post_list %}
            <div id="content" class="row no-gutters container">
                <!-- left side -->
                <div class="col-lg-6 no-gutters">
                    <div class="row">
                        {% if post.owner.profile.picture %}
                        <img id="small_img"  src="{%get_media_prefix%}{{post.owner.profile.picture}}">
                        {%else%}
                        <span class="glyphicon glyphicon-picture" style="height:50px"></span>
                        {%endif%}
                        <a href="/account/details/{{post.owner.id}}">
                            <h5>{{post.owner.username}}</h5>
                        </a>
                    </div>
                    <div class="col-lg col-md-12">
                        <p>{{post.content}}</p>
                    </div>
                </div>
                <!-- right side -->
                <div class="col-lg-6 no-gutters">
                    <div class="col-lg col-md-12">
                        <img class="rounded" src="{%static 'pictures/pic (1).jpg' %}">
                    </div>
                    <div class="d-flex justify-content-between container">
                        <div class="p-2">
                            <div class="row">
                                    <span post_id="{{post.id}}" name="love_{{post.id}}"
                                          class="glyphicon glyphicon-heart mr-1 like" id="heart"
                                          style="{%if post.id in user_like%}color:#FCA311;{%else%}color:#000;{%endif%} cursor: pointer;"></span>
                                <h5 id="post_id{{post.id}}">{{post.like_counter}}</h5>
                            </div>
                        </div>
                        <div class="p-2">
                            <div class="row">
                                <a href="/post/{{post.id}}">
                                    <span class="glyphicon glyphicon-comment mr-1 like"></span>
                                </a>
                                <h5>{{post.comment_counter}}</h5>
                            </div>
                        </div>
                        <div class="p-2">
                            <span>{{post.added_date}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h3>Don't have? You can publish <a href="/home">here</a></h3>
            {% endfor %}
        </div>
    </div>


    <!-- pagination here -->
    <div class="d-flex justify-content-center">
        <div class="pagination" style="margin-bottom:50px;">
            <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" id="paginator">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" id="paginator">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" id="paginator">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" id="paginator">last &raquo;</a>
        {% endif %}
        </span>
        </div>
    </div>
</div>
{% endblock %}