{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container" id="content">
    <div class="row">
        <div class="col-lg-6">
            <h3>Your friends in one space</h3>
            <ul>
                <li>Don't climb alone!</li>
                <li>Find people to training!</li>
                <li>Share your achievements!</li>
                <li>Your friends, your history in one place.</li>
                <li>Don't have account?<a href="register/" style="color:#FCA311"> Join us now!</a></li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h3 style="text-align:center">Already have an account?<br></h3>
            <form method="post">
                {% csrf_token %}
                <div class="container">
                    <div class="d-flex justify-content-center" style="margin-bottom:10px">
                        <input id="username" type="text" name="username" placeholder="username">
                    </div>
                    <div class="d-flex justify-content-center" style="margin-bottom:10px">
                        <input id="password" type="password" name="password" placeholder="password">
                    </div>
                </div>
                <div class=" d-flex justify-content-center">
                    <button type="submit" style="font-weight:bold">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container" id="content">
    <h3>Most liked</h3>
    <div class="row no-gutters">
        {% for post in most_liked%}
        <div class="col-lg col-md-12" id="small_content">
            <div class="row" id="post_username">
                <img src="{%static 'pictures/pic (1).jpg' %}" style="height:25px; width:25px; border-radius:25px;">
                <h5>{{post.owner.username}}</h5>
            </div>
            <p id="post_content">{{post.content}}</p>
            <img src="{%static 'pictures/pic (1).jpg' %}">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-3">
                    <div class="row">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <h5>25</h5>
                    </div>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-3">
                    <div class="row">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        <h5>{{post.comment_counter}}</h5>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
        {%endfor%}



    </div>
</div>
{% endblock %}