{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">


    <!-- post details -->
    <div id="content" class="row no-gutters">
        <div class="col-lg-6 no-gutters">
            <!-- left side -->
            <div class="row">
                <img id="small_img" src="{%static 'pictures/pic (1).jpg' %}">
                <h5>{{post.owner.username}}</h5>
            </div>
            <div class="col-lg col-md-12">
                <p>{{post.content}}</p>
            </div>
        </div>
        <div class="col-lg-6 no-gutters">
            <!-- right side -->

            <div class="col-lg col-md-12">
                <img class="rounded" src="{%static 'pictures/pic (1).jpg' %}">
            </div>
            <div class="d-flex justify-content-between container">
                <div class="p-2">
                    <div class="row">
                        <span class="glyphicon glyphicon-heart mr-1" aria-hidden="true"></span>
                        <h5>25</h5>
                    </div>
                </div>
                <div class="p-2">
                    <div class="row">
                        <span class="glyphicon glyphicon-comment mr-1" aria-hidden="true"></span>
                        <h5>{{post.comment_counter}}</h5>
                    </div>
                </div>
                <div class="p-2">
                    <span>{{post.added_date}}</span>
                </div>
            </div>
        </div>
    </div>


    <!-- add comments -->
    <div id="content">
        <form method="post">
            {%csrf_token%}
            <div class="row mt-2">
                <div class="col-lg mb-2">
                    <textarea name="content" placeholder="Write  your comment here"></textarea>
                </div>
                <div class="col-lg-2">
                    <button type="submit">Comment</button>
                </div>
            </div>
        </form>
    </div>


    <!-- comments -->
    <div id="content" class="mb-8">
        <hr style="background:#ccc">
        {%for comment in comment_list%}
        <div id="comment">
            <div class="d-flex justify-content-between">
                <div class="d-flex ">
                    <div class="row">
                        <img id="small_img" src="{%static 'pictures/pic (1).jpg' %}">
                        <h5>{{comment.owner.username}}</h5>
                    </div>
                </div>
                <div class="d-flex">
                    <span>
                      {{comment.added_date}}
                    </span>
                </div>
            </div>
            <div>
                <p> {{comment.content}}</p>

                <hr style="background:#ccc">
            </div>
        </div>
        {% empty %}
            <h5>No comments yet.</h5>
        {% endfor %}
    </div>
</div>

{% endblock %}
php