{% extends 'base.html' %}
{% block content %}


<div class="container" id="content" style="">
    <h3>Register now!</h3>
    <form method="post">
        {%csrf_token%}

        {% for field in form %}
        <div class="container" style="padding:0 0 0 0;">

            <div class="d-flex justify-content-center">
                <div style="height:auto; width:auto" data-toggle="tooltip" data-placement="right"
                     title="{{ field.help_text }}">
                    {{ field }}
                </div>
            </div>
        </div>

        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% endfor %}
        <div class=" d-flex justify-content-center" >
            <button type="submit" >Sign up</button>
        </div>
    </form>
</div>
{% endblock %}